<section class="about-servises">
    <div class="container">
    <p class="about-servises-title">ОПИС РОБОТИ КАДРОВОГО СЕРВІСУ</p>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Сервіс агрегує вакансії польських кадрових агентств, що мають ліцензію на працевлаштування українців в Польщі
        </p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Підбір вакансій для працівників є індивідуальним і здійснюється на підставі їх анкетних даних.</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Вакансії і резюме, які потрапляють в базу сервісу в обов'язковому порядку рейтингуються. Це забезпечує можливість
            зіставляти рівень резюме з рівнем вакансії при підборі. Девіз сервісу - "Гідна робота - гідним людям!"</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Сервіс має контакт-центр в Україні. Супровід працівників на території Польщі здійснюють польські кадрові агентства.</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Послуги сервісу з працевлаштування є безкоштовними для працівника, їх оплачує роботодавець. Послуги польських
            кадрових агентств також не оплачуються (стягування грошей з працівника за працевлаштування на території
            Польщі є незаконним).</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Короткострокові та довгострокові дозволу на роботу оформляються роботодавцем за його рахунок.</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Робота сервісу організована таким чином, щоб працівник міг самостійно оформити робочу візу на підставі
            поданої роботодавцем дозволу (процедура за складністю можна порівняти з оформленням біометричного
            паспорта).</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Сервіс здійснює інформаційний супровід працівників до моменту закінчення контракту.</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Якщо працівник не пройшов випробувальний термін або його не влаштували умови роботи сервіс підбирає
            альтернативні варіанти. Залишати територію Польщі при цьому, в більшості випадків, не потрібно.</p>
    </div>
    <div class="about-servises-text-box">
        <div class="about-servises-disk"></div>
        <p class="about-servises-text">Сервіс надає ряд супутніх і додаткових платних послуг: індивідуальна консультаційна та візова підтримка (потрібно
            тільки в особливих випадках), курси польської мови на базі польських мовних шкіл, допомога під час вступу до
            польських ВНЗ, управління кар'єрою.</p>
    </div>
        <a href="#" class="red-button">ПІДІБРАТИ ВКАНСІЮ</a>
    </div>
</section>